# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/public/assets
.pnp.js
/build

# testing
/coverage

# misc
.DS_Store
yarn.lock
README.md
.env.local
.env.production
.package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
